
body {
background-color : #f7eff3;
margin : 0;
padding : 0;
border : 0;
width : 100%;
}
p {
font-weight : bold;
color : white;
}
p:hover {
opacity : 0.89999997615814208984375;
}
.kiri {
width : 25%;
float : left;
padding : 15px;
border : red solid 1px;
}
.kanan {
width : 75%;
float : right;
padding : 15px;
border : red solid 1px;
}
hr {
display : block;
height : 1px;
border : 0;
border-top : 1px solid pink;
margin : 1em 0;
padding : 0;
width : 50%;
}
.baris {
width : 100%;
height : 100%;
vertical-align : middle;
}
.kolkir {
display : inline-block;
margin-left : 3%;
width : 30%;
height : 100%;
line-height : 100%;
}
.kolkan {
display : inline-block;
width : 60%;
}
h2 {
font-family : Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif;
font-size : 24px;
font-style : normal;
font-variant : normal;
font-weight : 500;
line-height : 27px;
}
footer {
bottom : 0;
font-family : monospace;
color : white;
width : 100%;
position : fixed;
height : 4%;
text-align : center;
padding-top : 10px;
}
